<h1>Coucou Comments</h1>

<% @comments.each do |comment| %>
  <h2><%= comment.avis %></h2>
<% end %>

<% @comments.each do |comment| %>
  <% if comment.user == current_user %>
    <%= link_to "Ajoute un Item", new_post_comment_path %>
  <% end %>
<% end %>

<%= link_to "Retour", posts_path %>
